


body {
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    max-width: 550px;
    margin: auto;
    margin-top: 10vh;
}

header {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 10px;

    p {
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
    }
}

.fight {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: center;
    }

}

.visibility-off {
    display: none;
}


.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .moves {
        margin-top: 10px;
        border: 1px solid green;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            margin: 10px;
            padding: 5px;
            background-color: mediumaquamarine;
            text-align: center;
            font-size: 0px;
        }

        :hover {
            background-color: mediumvioletred;
        }
        
    }

    .battle-log-info {
        padding: 10px;
        width: 100%;

        h2 {
            text-align: center;
            font-size: 2rem;
        }

        #battle-log {
            max-height: 200px;
            overflow-y: scroll;
            overflow-x: auto;
            text-align: left;
            font-size: 0px;

            p {
                margin: 0.3rem;
                font-size: 0.5rem;
            }
        }
    }
}